<nav class="main-navbar">
    <div class="navbar-brand-and-links">

        <div class="navbar-brand">
            <img src="../static/posts_photos/flashipng.png" alt="Foto de perfil" class="tamanhologo">
            <p class="nomelogo caveat-brush-regular">Fléshi</p>
        </div>

        <div class="navbar-links">
            <a href="{{ url_for('feed') }}" class="nav-link caveat-brush-regulardois">Feed</a>
            <a href="{{ url_for('profile', user_id=current_user.id) }}" class="nav-link caveat-brush-regulardois">Perfil</a>
        </div>
    </div>

    <div class="navbar-actions">
        <a href="{{ url_for('logout') }}" class="nav-logout-link">Sair</a>
    </div>
</nav>